//keyframes

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideIn {
	0% {
		left: 100%
	}
	100% {
		left: 0
	}
}

@keyframes slideOut {
	0% {
		left: 0
	}
	100% {
		left: -100%
	}
}

//Navigation bar
* {
	box-sizing: border-box;
	outline: none;
}

body {
	margin: 0;
	font-size: 14px;
	font-size: 1em;
	font-family: 'Montserrat', serif;
}

a {
	outline: 0;
}

.shadow {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 5;
}

//================================
//Navigation bar
//================================
.navigation {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	background: #ffffff;
	height: 80px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

	.nav_logo {
		position: absolute;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 295px;
		padding: 0 30px;

		img {
			height: 40px;
		}

		p {
			margin-top: 20px;
			margin-bottom: 0;
		}
	}

	.menu {
		list-style: none;
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		margin: 0;
		padding: 0;

		&__item {
			display: flex;
			align-items: center;

			a {
				display: block;
				height: 100%;
				line-height: 80px;
				text-decoration: none;
				color: #5d5d5d;
				font-size: 1.125em;
				transition: .3s;
				padding: 0 15px;

				&:hover {
					background-color: #a87f74;
					color: #ffffff;
				}
			}
		}
	}

	.contact-us {
		position: absolute;
		height: 100%;
		width: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 30px;
		right: 0;

		a {
			display: inline-block;
			text-align: center;
			line-height: 50px;
			height: 50px;
			width: 150px;
			background: #a87f74;
			border-radius: 5px;
			text-decoration: none;
			color: #ffffff;
			font-size: 0.875em;
			transition: .3s;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

			&:hover {
				background: rgb(192, 144, 127);
			}
		}
	}
	.dropdown_menu {
		display: none;
		position: absolute;
		top: 15px;
		right: 20px;
		height: 40px;
		width: 40px;

		@media screen and (max-width: 768px) {
			display: block;
		}

		img {
			width: 40px;
		}
	}
}

//================================
//Main banner
//================================
.main_banner {
	position: relative;
	width: 100vw;
	background: url("../images/main_img.jpg") no-repeat center center fixed;
	background-size: cover;

	.container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 10;
	}

	&__content {
		height: 100vh;
		width: 90%;
		max-width: 1200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__title {
		color: #ffffff;
		font-size: 3em;
		font-weight: normal;
		margin-bottom: 0;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
	}

	&__sub-title {
		color: #e1e1e1;
		font-size: 1.2em;
		font-weight: lighter;
		text-align: center;
		font-style: italic;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__title {
			color: #ffffff;
			font-weight: bold;
		}

		input {
			width: 400px;
			height: 50px;
			margin: 10px 0;
			border: none;
			border-radius: 5px;
			padding: 10px 20px;
			font-size: 1.125em;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		}

		button {
			width: 400px;
			height: 50px;
			margin: 10px 0;
			border: none;
			padding: 10px 20px;
			background-color: #a87f74;
			color: #ffffff;
			font-size: 1.125em;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
			transition: .3s;

			&:hover {
				background: rgb(192, 144, 127);
			}
		}

		&__notice {
			color: #ffffff;
			font-size: 0.75em;
		}
	}

	&__details {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #25282d;
		color: #ffffff;
		padding: 4em 0;

		p {
			width: 90%;
			margin: 0;
			max-width: 1200px;
			text-align: center;
			line-height: 2em;
		}
	}
}

//================================
//How it works
//================================
.how_it_works {
	min-height: 100vh;
	padding: 140px 5%;

	@media screen and (max-width: 480px) {
		height: auto;
	}

	&__title {
		margin: 0 0 2em;
		font-size: 2em;
		font-weight: normal;
		letter-spacing: 0.2em;
		color: #5d5d5d;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16),
		0 2px 4px rgba(0, 0, 0, 0.3);

		@media screen and (max-width: 480px) {
			font-size: 2rem;
			text-align: center;
		}
	}

	.container {
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 1800px;
		margin: 0 auto;

		@media screen and (max-width: 480px) {
			flex-direction: column;
		}
	}
	&__text-container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		padding: 0 2em;
		width: 50%;

		@media screen and (max-width: 480px) {
			height: auto;
			max-width: 100%;
			margin-bottom: 40px;
		}

		&__title {
			text-align: right;
			font-size: 2em;
			max-width: 500px;
		}

		&__text {
			text-align: right;
			max-width: 500px;
			line-height: 2em;
		}
	}
	.our_app {
		width: 50%;
		display: flex;
		justify-content: center;
		position: relative;

		@media screen and (max-width: 480px) {
			width: auto;
		}

		.phone_skin {
			height: 560px;
			margin: 0 auto;
			transition: .3s;
			z-index: 10;
		}
		.carousel {
			position: absolute;
			width: 100%;
			height: 100%;

			.carousel__arrows {
				position: absolute;
				top: calc(50% - 15px);
				height: 30px;
				transition: .3s;

				img {
					height: 30px;
				}
				&.left_arrow {
					left: 5px;
					transform: rotate(180deg);

					&:active {
						transform: rotate(180deg) scale(0.9);
					}
				}

				&.right_arrow {
					right: 5px;

					&:active {
						transform: scale(0.9);
					}
				}

			}
			.our_app-img {
				position: relative;
				margin: 68px auto;
				width: 241px;
				height: calc(100% - 136px);

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 241px;
					animation: fadeOut 1s forwards;

					&.active {
						//display: block;
						animation: fadeIn 1s forwards;
					}
				}
			}
		}
	}
}

//================================
//Advantages
//================================
.advantages {
	position: relative;
	height: 100vh;
	overflow: hidden;

	.carousel__arrows {
		margin: 0;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 50px;
		color: #ffffff;
		z-index: 15;
		top: 0;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			background: rgba(253, 255, 254, 0.3);
		}

		&:active {
			&.left_arrow {
				img {
					transform: scale(0.9) rotate(180deg);
				}
			}
			&.right_arrow {
				img {
					transform: scale(0.9);
				}
			}
		}
		&.left_arrow {
			left: 0;

			img {
				transition: .3s;
				width: 40px;
				transform: rotate(180deg);
			}
		}

		&.right_arrow {
			right: 0;

			img {
				transition: .3s;
				width: 40px;
			}
		}
	}
	&__items {
		width: 100%;
		height: 100%;
		position: relative;

		&__item {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			animation: fadeOut 1s forwards;
			overflow: hidden;

			&.active {
				animation: fadeIn 1s forwards;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&__content {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
				padding: 0 5%;
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				&__title {
					color: #ffffff;
					font-size: 3em;
					font-weight: normal;
					letter-spacing: 0.125em;
					margin-bottom: 0;
				}
				&__sub-title {
					max-width: 700px;
					font-size: 1.25em;
					line-height: 1.5em;
					text-align: center;
					color: #ffffff;
				}
			}
		}
	}
}

//================================
// Business model
//================================
.business_model {
	position: relative;
	min-height: 100vh;
	padding: 0 5%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__title {
		text-align: center;
		font-size: 2em;
		letter-spacing: 0.06em;
		margin-bottom: 0;
	}

	&__sub-title {
		text-align: center;
		margin-bottom: 100px;
		color: #5d5d5d;
		max-width: 800px;
		font-weight: normal;
		font-style: italic;
	}

	&__items {
		display: flex;
		justify-content: center;

		&__item {
			position: relative;
			max-width: 400px;
			display: flex;
			flex-direction: column;
			padding: 0 20px;

			img {
				width: 100%;
			}

			&__title {
				text-align: center;
				font-size: 1.25em;
			}

			&__text {
				text-align: center;
				color: #5d5d5d;
				font-style: italic;
				line-height: 1.5em;
			}
		}
	}
}

//================================
//Directions
//================================
.directions {
	position: relative;
	min-height: 100vh;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__title {
		text-align: center;
		font-size: 2em;
		letter-spacing: 0.06em;
		margin-bottom: 0;
	}

	&__sub-title {
		text-align: center;
		margin-bottom: 100px;
		color: #5d5d5d;
		font-style: italic;
		max-width: 800px;
	}

	&__items {
		display: flex;
		justify-content: center;
		width: 100%;

		&__item {
			position: relative;
			width: 80%;

			&__image {
				position: relative;
				width: 100%;
				height: 0;
				padding-bottom: 100%;
				overflow: hidden;

				img {
					position: absolute;
					min-width: 100%;
					height: 100%;
					object-fit: fill;
				}
			}
			&__content {
				display: flex;
				opacity: 0;
				background-color: rgba(0, 0, 0, 0.5);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				color: #ffffff;
				padding: 0 15px;
				transition: .3s;

				&__title {
					font-size: 1.25em;
					text-align: center;
				}

				&__text {
					text-align: center;
				}
			}

			&:hover {
				.directions__items__item__content {
					opacity: 1;
				}
			}
		}
	}
}

//================================
//Pricing
//================================
.pricing {
	padding: 50px 5%;
	background: url("../images/pricing_background.jpg") no-repeat center center;
	background-size: cover;

	&__title {
		text-align: center;
		color: #ffffff;
		margin-bottom: 50px;
	}

	&__content {
		display: flex;
		justify-content: center;

		&__item {
			width: 500px;
			&:first-child {
				margin: 10px 0;
				border-top: 1px solid #ffffff;
				border-left: 1px solid #ffffff;
				border-bottom: 1px solid #ffffff;
			}

			&:last-child {
				padding: 10px 0;
				background-color: #a87f74;
			}

			&__title {
				text-transform: uppercase;
				letter-spacing: 0.125em;
				text-align: center;
				color: #ffffff;
				margin: 2em 0;
			}

			&__price {
				color: #ffffff;
				margin: 0;
				height: 100px;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				position: relative;

				&__dollar {
					margin: 0;
					font-size: 1em;
					height: 100%;
				}

				&__numbers {
					height: 100%;
					margin: 0;
					font-size: 8em;
					line-height: 0.8em;
				}

				&__comment {
					display: flex;
					align-items: flex-end;
					margin: 0;
					font-size: 1em;
					height: 100%;
				}
			}

			&__amount {
				text-align: center;
				color: #ffffff;
				text-transform: uppercase;
				margin: 2em 0 1em;
				font-size: 1.25em;
			}

			&__notice {
				text-align: center;
				color: #ffffff;
				font-style: italic;
				font-size: 0.75em;
				margin: 0 0 4em;
			}
		}
	}

	&__notice {
		margin: 30px 0;
		text-align: center;
		color: #ffffff;
		a {
			text-decoration: none;
			color: #ffffff;
			font-weight: bold;
		}
	}
}

//================================
//Footer
//================================
footer {
	background-color: #ffffff;
	height: 70px;

	p {
		margin: 0;
		color: #5d5d5d;
		line-height: 70px;
		text-align: center;
		letter-spacing: 2px;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
	}
}